
//colors
$bg-color:#000000;
$first-color:#020202;
$second-color:#FFFFFF;
$third-color:#F2F2F2;
$fourth-color:#525252;

//fonts
$body-font: 'Noto Sans TC', sans-serif;

$font-regular:400;
$font-medium:700;
$font-bold:900;

$biggest-font-size:7.5rem;  //120px
$bigger-font-size:5rem;     //80px
$big-font-size:3rem;        //48px
$normal-font-size:2rem;     //32px
$small-font-size:1.25rem;   //20px
$smaller-font-size:1rem;
$smallest-font-size:.875rem; //14px


//Line height
$line-height-large:150%;  
$line-height-medium:120%;




